@model UserViewModel
@using System.Security.Claims;
@using Ci_Project.Entities.Models
@{
    var identity = User.Identity as ClaimsIdentity;
    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
    var Email = identity?.FindFirst(ClaimTypes.Email)?.Value;
    var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/VolunteerTimesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
   
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="navbar" id="List">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="@Model.Users.Where(x => x.Email == Email).Select(x => x.Avatar).FirstOrDefault()" class="rounded-circle" style="width:50px;height:50px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        arialeftfalse" aria-labottomnavigation">
                    <img src="~/images/Assets/list.png">
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Story</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="dropdown" data-bs-toggle="dropdown"
                               style="text-decoration: none; color: #333333;">
                                Policy
                                <img src="~/images/Assets/drop-down.png">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="User" asp-action="PolicyPage">PolicyPage</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a href="#" class="dropdown" data-bs-toggle="dropdown"
                               style="text-decoration: none; color: #333333;">
                                @name @surname
                                <img src="~/images/Assets/drop-down.png">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">1</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar nav" id="Main">
            <div class="col-lg-2">
                @*<p class="text-end">Stories</p>*@
                <a class="btn" type="submit" class="pb-3" asp-action="StoryListingPage" asp-controller="Story" style="border:none;background:none;margin-left:180px">Stories</a>
            </div>
            <div class="dropdown col-lg-6 ">
                Policy
                <button class=" dropdown" type="button" data-bs-toggle="dropdown"
                        style="border:none; background-color:white;">
                    <img src="~/images/Assets/drop-down.png">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="PolicyPage">PolicyPage</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>

            </div>
            <div class="dropdown col-lg-3 text-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link profile-link-part" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                        <img src="@Model.Users.Where(x => x.Email == Email).Select(x => x.Avatar).FirstOrDefault()" class="rounded-circle" height="35" width="35" alt="Profile pic"
                         loading="lazy" />
                        <span class="px-2" style="color:black">@name @surname</span>
                        <img src="~/Assets/drop-down.png" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="left:auto;top:80%; z-index:1050;">
                        <li><a class="dropdown-item btn" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item btn" asp-controller="User" asp-action="UserProfile">My Account</a></li>
                        <li><a class="dropdown-item btn" asp-controller="User" asp-action="VolunteerTimesheet">Volunteer TimeSheet</a></li>
                        <li><a class="dropdown-item btn" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul class="d-flex text-decoration-none float-end" style="list-style:none">
                        <li><a class="dropdown-item btn" asp-controller="Login" asp-action="Login">Login</a></li>
                        <li><a class="dropdown-item btn ms-2" asp-controller="Registration" asp-action="Registration">Register</a></li>
                    </ul>
                }
            </div>
        </nav>
    </div>

    <hr>
    <!--Second Row is for title start-->
    <!--Second Row is for title end-->
    <!-- third row is all about hours and goal start-->
    <div class="container" style="padding-bottom:20%">
        <h2 class="mt-4 ms-4" style="font-weight: 100;">Volunteering Timesheet</h2>
        <div class="row p-2 ">
            <div class="col-md-6 mt-3 mb-2">
                <div class="border border-dark" style="border-radius: 5px;">
                    <div class="d-flex justify-content-between mt-3 mx-2">
                        <div>
                            <p>Volunteering Hours</p>
                        </div>
                        @*add data for time*@
                        <form method="post" asp-controller="User" asp-action="GetTimeData">
                            <div>
                                @*<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 50px;">
                                    + Add
                                </button>*@
                                <a class="btn btn-login buttonColor mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border:2px solid #F88634;color: #F88634;border-radius:20px">+ Add</a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Please input below volunteering Hours </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Mission</label>
                                                    @*<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your experience	">*@
                                                    <select class="form-control mt-1" id="mId" asp-for="@Model.missionId">
                                                        <option>Select your mission</option>
                                                        @foreach (var item in Model.missionApp.Where(x => x.Mission.MissionType == "Time"))
                                                        {
                                                            <option value="@item.Mission.MissionId" id="@item.Mission.MissionId" selected>@item.Mission.Title</option>

                                                        }

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Date Volunteerd</label>
                                                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="select date" asp-for="dateAndTime" value="">
                                                    <span asp-validation-for="dateAndTime" class="text-danger"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="exampleFormControlInput1" class="form-label">Hours</label>
                                                        <input type="number" class="form-control" placeholder="First name" aria-label="Entet hour" id="hours" asp-for="hour">
                                                        <span asp-validation-for="hour" class="text-danger"></span>

                                                    </div>
                                                    <div class="col">
                                                        <label for="exampleFormControlInput1" class="form-label">Minutes</label>
                                                        <input type="number" class="form-control" placeholder="Last name" aria-label="enter minute" id="minutes" asp-for="minute">
                                                        <span asp-validation-for="minute" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="message">Enter your Message</textarea>
                                                    <span asp-validation-for="message" class="text-danger"></span>

                                                </div>
                                                @*<div id="msg"></div>*@
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn buttonColor" style="border-radius:50px;border:2px solid #f88634">Save</button>
                                                @*<a class="btn btn-login buttonColor mt-2" style="border:2px solid #F88634;color: #F88634;border-radius:20px">save</a>*@

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mx-2">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Mission</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Hours</th>
                                    <th scope="col">Minutes</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Timesheets.Where(x => x.Mission.MissionType == "Time" && x.UserId == Convert.ToInt32(uid)))
                                {
                                    <tr>
                                        @*<th scope="row">1</th>*@
                                        <td> <b>@Model.Missions.Where(x=>x.MissionId == item.MissionId).Select(x=>x.Title).FirstOrDefault()</b></td>
                                        <td>@item.DateVolunteered.ToShortDateString()</td>
                                        <td>@item.TimesheetTime?.Hours</td>
                                        <td>@item.TimesheetTime?.Minutes</td>

                                        @*Edit Data for Time*@

                                        <td class="p-0 pt-2 px-1">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#editData" class="border-0 bg-transparent" onclick="editDataUser(@item.TimesheetId)">
                                                <i class="bi bi-pencil-square " style="color:#f88634"></i>
                                            </button>
                                            @*<a class="btn btn-login buttonColor mt-2"  data-bs-toggle="modal" data-bs-target="#editData" onclick="editDataUser(@item.TimesheetId)" style="border:2px solid #F88634;color: #F88634;border-radius:20px" onclick="saveChanges(@item.TimesheetId)"> <i class="bi bi-pencil-square"></a>*@

                                        <form class="validation">
                                            <div class="modal fade" id="editData" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Please input below volunteering Hours </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="mb-3">
                                                                <label for="exampleFormControlInput1" class="form-label">Mission</label>
                                                                <input type="text" class="form-control" id="missionTime" placeholder="Enter your experience" asp-for="@Model.missionId" disabled>

                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="exampleFormControlInput1" class="form-label dateEdit">Date Volunteerd</label>
                                                                <input type="dateAndTime" id="dates" class="form-control dateEdit" placeholder="select date" asp-for="dateAndTime" disabled>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <label for="exampleFormControlInput1" class="form-label">Hours</label>
                                                                    <input type="number" id="hour" class="form-control hourEdit" placeholder="Hour" aria-label="First name" asp-for="hour">
                                                                    <span class="text-danger" asp-validation-for="hour"></span>
                                                                </div>
                                                                <div class="col">
                                                                    <label for="exampleFormControlInput1" class="form-label">Minutes</label>
                                                                    <input type="number" id="minute" class="form-control minuteEdit" placeholder="Minute" aria-label="Last name" asp-for="minute">
                                                                    <span class="text-danger" asp-validation-for="minute"></span>

                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                                <textarea class="form-control" id="textEdit" rows="3" asp-for="timeMessage">Enter your Message</textarea>
                                                                <span class="text-danger" asp-validation-for="timeMessage"></span>

                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                            @*<button type="submit" class="btn btn-outline-warning" style="border-radius:50px" onclick="saveChanges(@item.TimesheetId)">Save</button>*@
                                                            <button type="submit" class="btn btn-login buttonColor mt-2" style="border:2px solid #F88634;color: #F88634;border-radius:20px" @*onclick="saveChanges()"*@>save</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        </td>
                                        <td class="p-0 pt-2 px-1">
                                            @*<a class="btn" onclick="DeleteData(@item.TimesheetId)"><i class="bi bi-trash3 text-dark"></i></a>*@
                                             <a class="btn" data-bs-toggle="modal" data-bs-target="#DeleteGoal" onclick="getdeleteId(@item.TimesheetId)"><i class="bi bi-trash3 text-dark"></i></a>
                                                        
                                                        <div class="modal fade" id="DeleteGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this data?</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn buttonColor" style="border:2px solid #F88634;color: #F88634;border-radius:20px"onclick="DeleteData()">Confirm Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <div class="border border-dark" style="border-radius: 5px;">
                    <div class="d-flex justify-content-between mt-3 mx-2">
                        <div>
                            <p>Volunteering Goals</p>
                        </div>
                        @*add data to goal*@
                        <form method="post" asp-controller="User" asp-action="GetTimeData">
                            <div>
                                <!-- Button trigger modal -->
                                @*<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border-radius: 50px;">
                                    + Add
                                </button>*@
                                <a class="btn btn-login buttonColor mt-2" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border:2px solid #F88634;color: #F88634;border-radius:20px">+ Add</a>

                                <div class="modal fade" id="exampleModalGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Please input below volunteering Goal</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Mission</label>
                                                    @*<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your experience	">*@
                                                    <select class="form-control mt-1" asp-for="@Model.missionId">
                                                        <option>Select your mission</option>
                                                        @foreach (var item in Model.missionApp.Where(x => x.Mission.MissionType == "Goal"))
                                                        {

                                                            <option value="@item.Mission.MissionId" id="@item.Mission.MissionId" selected>@item.Mission.Title</option>

                                                        }

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Action</label>
                                                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter your action" asp-for="action">
                                                    <span asp-validation-for="action" class="text-danger"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlInput1" class="form-label">Date Volunteerd</label>
                                                    <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="select date" asp-for="dateAndTime">
                                                    <span asp-validation-for="dateAndTime" class="text-danger"></span>

                                                </div>
                                                <div class="mb-3">
                                                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="message">Enter your Message</textarea>
                                                    <span asp-validation-for="message" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                @*<button type="submit" class="btn btn-outline-warning" style="border-radius:50px">Save</button>*@
                                                 @*<a class="btn btn-login buttonColor mt-2" style="border:2px solid #F88634;color: #F88634;border-radius:20px">save</a>*@
                                                <button type="submit" class="btn buttonColor" style="border-radius:50px;border:2px solid #f88634">Save</button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mx-2">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Mission</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @foreach (var item in Model.Timesheets.Where(x => x.Mission.MissionType == "Goal" && x.UserId == Convert.ToInt32(uid)))
                                    {
                                    <tr>
                                            @*<th scope="row">1</th>*@
                                        <td> <b>@Model.Missions.Where(x=>x.MissionId == item.MissionId).Select(x=>x.Title).FirstOrDefault()</b></td>
                                        <td>@item.DateVolunteered.ToShortDateString()</td>
                                        <td>@item.Action</td>


                                            @*edit data for goal*@
                                        <td class="p-0 pt-2 px-1">
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#editGoal" class="border-0 bg-transparent" onclick="editDataUser(@item.TimesheetId)">
                                                <i class="bi bi-pencil-square" style="color:#f88634"></i>
                                            </button>
                                            @*<a class="btn btn-login buttonColor mt-2"  data-bs-toggle="modal" data-bs-target="#editGoal" onclick="editDataUser(@item.TimesheetId)" style="border:2px solid #F88634;color: #F88634;border-radius:20px" onclick="saveChanges(@item.TimesheetId)"> <i class="bi bi-pencil-square"></a>*@

                                        <form class="validation">
                                            <div class="modal fade" id="editGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Please input below volunteering Hours </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="mb-3">
                                                                <label for="exampleFormControlInput1" class="form-label">Mission</label>
                                                                <input type="text" class="form-control" id="MissionList" placeholder="Enter your experience" asp-for="mission" disabled>

                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="exampleFormControlInput1" class="form-label">Action</label>
                                                                <input type="number" class="form-control actionEdit" id="actionEdit" placeholder="Enter your action" asp-for="action">
                                                                <span asp-validation-for="action" class="text-danger"></span>

                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="exampleFormControlInput1" class="form-label">Date Volunteerd</label>
                                                                <input type="date" class="form-control" id="dateAndTime" placeholder="select date" asp-for="dateAndTime" disabled>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                                                <textarea class="form-control" id="textG" rows="3" asp-for="goalMessage">Enter your Message</textarea>
                                                                <span asp-validation-for="goalMessage" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                            @*<button type="submit" class="btn btn-outline-warning" style="border-radius:50px" onclick="saveChanges(@item.TimesheetId)">Save</button>*@
                                                            <button type="submit" class="btn btn-login buttonColor mt-2" style="border:2px solid #F88634;color: #F88634;border-radius:20px" @*onclick="saveChanges()"*@>save</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        </td>
                                        <td class="p-0 pt-2 px-1">
                                            @*<a class="btn" onclick="DeleteData(@item.TimesheetId)"><i class="bi bi-trash3 text-dark"></i></a>*@
                                              <a class="btn" data-bs-toggle="modal" data-bs-target="#DeleteGoal" onclick="getdeleteId(@item.TimesheetId)"><i class="bi bi-trash3 text-dark"></i></a>
                                                        @*<a class="btn btn-login buttonColor mt-2" data-bs-toggle="modal" data-bs-target="#DeleteData" style="border:2px solid #F88634;color: #F88634;border-radius:20px">+ Add</a>*@
                                                        <!-- Button trigger modal -->
                                                        @*<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border-radius: 50px;">
                                                            + Add
                                                        </button>*@
                                                        <div class="modal fade" id="DeleteGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this data?</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn buttonColor" style="border:2px solid #F88634;color: #F88634;border-radius:20px"onclick="DeleteData()">Confirm Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                        </td>
                                    </tr>

                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- third row is all about hours and goal end-->
    <!--footer satrt-->
    <div class="copyright mt-5 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a class="text-light" asp-controller="User" asp-action="PolicyPage">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Cookie Policy</a>
                            </li>
                            <li>
                                <a href="#" class="text-light">Terms of Use</a>
                            </li>
                            <li>

                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalContactUs" class="border-0 bg-transparent">
                                    <a class="text-light">Contact Us</a>
                                </button>


                                <div class="modal fade" id="exampleModalContactUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form method="post" asp-action="ContactUs" asp-controller="User">
                                                <div class="modal-body">
                                                    @*bodey of the model*@
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Name*</label>
                                                        <input type="text" value="@name @surname" class="form-control missionNameTime" placeholder="" disabled>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Email Address*</label>
                                                        <input type="text" value="@Email" class="form-control dateOfVolunteerdTime" placeholder="select date" disabled>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="exampleFormControlInput1" class="form-label">Subject*</label>
                                                            <input type="text" class="form-control missionNameTime" asp-for="subjectForContactUsPage" placeholder="">
                                                            <span class="text-danger" asp-validation-for="subjectForContactUsPage"></span>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">Message*</label>
                                                        <textarea class="form-control textMessageTime" rows="3" asp-for="messageForContactUsPage">Enter your Message</textarea>
                                                        <span class="text-danger" asp-validation-for="messageForContactUsPage"></span>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-outline-warning" style="border-radius:50px">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-6 rights">
                    <span class="text-light"> © 2019 Optimy.com. All Right Reserved</span>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>*@
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/UserProfile.js"></script>

    <script>
        //show edit data
        var timesheetId = 0; 
        function editDataUser(Id){

            $.ajax({
                url:"/User/GetEditData",
                method:"post",
                data: {
                    id:Id,
                    mId:$('#missionIdForEdit').val(),
                },
                success : function(result){
                    console.log(result);
                    timesheetId = result.timesheetId;

                    if(result.timesheetTime != null){
                        var timeSpan = result.timesheetTime;
                        var timeArray = timeSpan.split(":");
                        var hours = parseInt(timeArray[0]) + parseInt(timeArray[1])/60 + parseInt(timeArray[2])/3600;
                        var h = parseInt(hours);
                        var minutes = Math.round((hours-h)*60);
                        $('#textEdit').html(result.notes);
                        console.log(result.notes);
                        $('#hour').val(h);
                        $('#minute').val(minutes);
                        GetMission(result.missionId);
                    }
                    //for goal based mission
                    $('#dates').val(result.dateVolunteered.slice(0, 10));
                    $('#textG').html(result.notes);
                    $('#actionEdit').val(result.action);
                    GetMission(result.missionId);
                    $('#dateAndTime').val(result.dateVolunteered.slice(0, 10));

                }

            })

        }
        //get mission
        function GetMission(id){
            $.ajax({
                url:"/User/EditAllData",
                method:"post",
                data:{
                    "Mid":id,
                },
                success:function(result){
                    $('#missionTime').val(result);
                    $('#MissionList').val(result);
                },

            })
        }

    </script>
    <script>
        //edit and update for both
            $('.validation').on('submit', e => saveChanges());
        function saveChanges(){
            event.preventDefault();
            $(".validation").valid();
		    if (!$(".validation").valid())
            {

			    return;
		    } 
            else
            {
                //function saveChanges(){
                $.ajax({
                url : "/User/getDetailsforhrs",
                type : "POST",
                data:{
                    id:timesheetId,
                    email:"@Email",
                    date:$('#dates').val(),
                    hour:$('#hour').val(),
                    mins:$('#minute').val(),
                    desc:$('#textEdit').val(),
                    descG:$('#textG').val(),
                    dateG:$('#dateAndTime').val(),
                    action:$('#actionEdit').val(),
                },
                sucess:function(){
                    location.reload();
                }
                });
            }
        }
    </script>
    <script>
        
         var Tid = 0;
        function getdeleteId(timesheetId){
            Tid = timesheetId;
        }
        //delete Data
        function DeleteData(){
            $.ajax({
                url:"/User/DeleteData",
                method:"post",
                data:{
                    "id":Tid,
                },
                success: function(){
                    location.reload();
                }
            })
        }
    </script>

</body>
</html>

