@model GeneralViewModel;
@using System.Security.Claims;
@{
    var identity = User.Identity as ClaimsIdentity;
    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
    var Email = identity?.FindFirst(ClaimTypes.Email)?.Value;

}


<div class="container">
        <nav class="navbar" id="List">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="@Model.Users.Where(x => x.Email == Email).Select(x => x.Avatar).FirstOrDefault()" class="rounded-circle" style="width:50px;height:50px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        arialeftfalse" aria-labottomnavigation">
                    <img src="~/images/Assets/list.png">
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Story</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="dropdown" data-bs-toggle="dropdown"
                               style="text-decoration: none; color: #333333;">
                                Policy
                                <img src="~/images/Assets/drop-down.png">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="User" asp-action="PolicyPage">PolicyPage</a></li>
                                <li><a class="dropdown-item" href="#">2</a></li>
                                <li><a class="dropdown-item" href="#">3</a></li>
                            </ul>

                        </li>
                                <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                    <a href="#" class="dropdown" data-bs-toggle="dropdown"
                                       style="text-decoration: none; color: #333333;">
                                        @name @surname
                                        <img src="~/images/Assets/drop-down.png">
                                    </a>
                                <ul class="dropdown-menu">
                                    @if(@Model.Admin.Where(x => x.Email == Email).FirstOrDefault() != null)
                                    {
                                        <li><a class="dropdown-item btn" asp-controller="Admin" asp-action="AdminLogin">Admin Page</a></li>

                                    }
                                    <li><a class="dropdown-item btn" asp-controller="User" asp-action="UserProfile">My Account</a></li>
                                    <li><a class="dropdown-item btn" asp-controller="User" asp-action="VolunteerTimesheet">Volunteer TimeSheet</a></li>
                                    <li><a class="dropdown-item btn" asp-controller="Home" asp-action="Logout">Logout</a></li>

                                </ul>
                            }
                            else
                            {
                                 <ul class="d-flex text-decoration-none" style="list-style:none">
                                    <li><a class="dropdown-item btn" asp-controller="Login" asp-action="Login">Login</a></li>
                                    <li><a class="dropdown-item btn ms-2" asp-controller="Registration" asp-action="Registration">Register</a></li>
                                </ul>
                            }
                                 </li>


                    </ul>
                </div>
            </div>
        </nav>      
        <nav class="navbar nav" id="Main">
            <div class="col-lg-2">
                @*<p class="text-end">Stories</p>*@
                <a class="btn" type="submit" class="pb-3" asp-action="StoryListingPage" asp-controller="Story" style="border:none;background:none;margin-left:180px">Stories</a>
            </div>
            <div class="dropdown col-lg-6 ">
                Policy
                <button class=" dropdown" type="button" data-bs-toggle="dropdown"
                        style="border:none; background-color:white;">
                    <img src="~/images/Assets/drop-down.png">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="User" asp-action="PolicyPage">PolicyPage</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                </ul>

            </div>
            <div class="dropdown col-lg-3 text-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link profile-link-part" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                        <img src="@Model.Users.Where(x => x.Email == Email).Select(x => x.Avatar).FirstOrDefault()" class="rounded-circle" height="35" width="35" alt="Profile pic"
                         loading="lazy" />
                        <span class="px-2" style="color:black">@name @surname</span>
                        <img src="~/Assets/drop-down.png" alt="">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="left:auto;top:80%; z-index:1050;">
                         @if(@Model.Admin.Where(x => x.Email == Email).FirstOrDefault() != null)
                        {
                            <li><a class="dropdown-item btn" asp-controller="Admin" asp-action="AdminLogin">Admin Page</a></li>

                        }
                        <li><a class="dropdown-item btn" asp-controller="User" asp-action="UserProfile">My Account</a></li>
                        <li><a class="dropdown-item btn" asp-controller="User" asp-action="VolunteerTimesheet">Volunteer TimeSheet</a></li>
                        <li><a class="dropdown-item btn" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul class="d-flex text-decoration-none float-end" style="list-style:none">
                        <li><a class="dropdown-item btn" asp-controller="Login" asp-action="Login">Login</a></li>
                        <li><a class="dropdown-item btn ms-2" asp-controller="Registration" asp-action="Registration">Register</a></li>
                    </ul>
                }
            </div>
        </nav>
    </div>


    <div class="container-fluid">
        <div class="row border-top  filters-section d-flex align-items-center flex-wrap justify-content-center">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12  border-end justify-content-center">
                <div>
                    <form asp-action="Platform" asp-controller="Home">
                        <a href="#" style="text-decoration: none;color:gray;  background:none" >
                            <div class="d-flex">
                                <div>
                                     <img src="~/images/Assets/search.png" >

                                </div>
                                <div>
                                       <input asp-for="search" class="ms-2 me-2 border-0 bg-light" type="text" placeholder="Search Mission..."
                                   style="border:none; width:92%;  background:none" aria-label="Search" id="search-field" onchange="this.form.submit()">

                                </div>
                            </div>
                          </a>
                    </form>
                </div>
            </div>

            <div class="col-lg-1 col-md-3 col-sm-6  border-end border-start country">
                <div class="dropdown">
                    <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                       Country   <img src="~/images/Assets/drop-down.png">
                    

                       

                    </a>

                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink" id="countryDropdown">
                        @foreach (var item in Model.Countries)
                        {
                            <li class="form-check ms-2">
                                <input class="form-check-input checkbox" type="checkbox" value="@item.Name" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.Name
                                </label>
                            </li>
                        }

                    </ul>

                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6  border-end border-start country">
                <div class="dropdown">
                    <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                       City   <img src="~/images/Assets/drop-down.png">

                      @* <div class="d-flex">
                        <div>
                             City &ensp; &ensp;
                        </div>
                        <div>
                            <img src="~/images/Assets/drop-down.png">
                        </div>
                    </div>*@
                    </a>

                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink" id="cityDropdown">

                        @foreach (var item in Model.Cities)
                        {
                            <li class="form-check ms-2">
                                <input class="form-check-input checkbox" type="checkbox" value="@item.Name" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.Name
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6  border-end border-start country">
                <div class="dropdown">
                    <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                       Theme   <img src="~/images/Assets/drop-down.png">


                    </a>

                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink" id="themesDropdown">
                        @foreach (var item in Model.MissionThemes)
                        {
                            <li class="form-check ms-2">
                                <input class="form-check-input checkbox" type="checkbox" value="@item.Title" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.Title
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-md-3 col-sm-6  border-end border-start country">
                <div class="dropdown">
                    <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                       Skill   <img src="~/images/Assets/drop-down.png">

                       
                       
                    </a>

                    <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuLink" id="skillsDropdown">
                        @foreach (var item in Model.Skills)
                        {
                            <li class="form-check ms-2">
                                <input class="form-check-input checkbox" type="checkbox" value="@item.SkillName" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.SkillName
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
            </div>

            <hr>
        </div>
    </div>


 <script>               // <!--Search Script Start Ends--></script>