@model AdminViewModel

@using System.Security.Claims;
@using Ci_Project.Entities.ViewModels;
@{
    var identity = User.Identity as ClaimsIdentity;
    var name = identity?.FindFirst(ClaimTypes.Name)?.Value;
    var surname = identity?.FindFirst(ClaimTypes.Surname)?.Value;
    var email = identity?.FindFirst(ClaimTypes.Email)?.Value;
    var uid = identity?.FindFirst(ClaimTypes.Sid)?.Value;
}
    <link rel="stylesheet" href="~/css/Datatable.css" />
@*<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
   @* <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />*@

<style>
    .dataTables_length {
        display: none;
    }

    .paginate_button {
        background-color: #f88634;
        color: white;
    }

    .dataTables_info {
        display: none;
    }
</style>
@{
    Layout = "~/Views/Admin/AdminUser.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        @* <div class="row" id="loadSideBar">
            @await Html.PartialAsync("~/Views/Shared/_User.cshtml")
            </div>*@
        <h3 class="mt-5">User</h3><hr />
        <div class="d-flex justify-content-between mt-4">
            @*<input type="text" id="myInput" placeholder="Search..." >*@
            <div class="col-4 ">
			<div class="input-group rounded search-bar">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
					   aria-describedby="search-addon" id="search-bar" />
			</div>
		</div>
           
            <div>
                <form method="post" asp-controller="Admin" asp-action="GetTimeData">
                    <div>
                        <a class="btn btn-login buttonColor mt-2" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border:2px solid #F88634;color: #F88634;border-radius:20px">+ Add</a>
                        <!-- Button trigger modal -->
                        @*<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border-radius: 50px;">
                            + Add
                            </button>*@
                        <div class="modal fade" id="exampleModalGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">FirstName</label>
                                            <input type="text" class="form-control" asp-for="FirstName">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>

                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">LastName</label>
                                            <input type="text" class="form-control" asp-for="LastName">
                                            <span asp-validation-for="LastName" class="text-danger"></span>

                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                                            <input type="text" class="form-control" asp-for="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                                            <input type="password" class="form-control" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Avatar</label>
                                            <input type="file" class="form-control" asp-for="Avatar">
                                            <span asp-validation-for="Avatar" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">EmployeeId</label>
                                            <input type="number" class="form-control actionEdit" asp-for="EmployeeId">
                                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Department</label>
                                            <input type="text" class="form-control" asp-for="Department">
                                            <span asp-validation-for="Department" class="text-danger"></span>
                                        </div>


                                        <label for="exampleFormControlInput1" class="form-label">Select Country</label>
                                        <select id="Country" class="form-control mt-2" asp-for="country">
                                            <option disabled selected>Select an option </option>

                                        </select>

                                        <label for="exampleFormControlInput1" class="form-label">Select City</label>
                                        <select id="City" class="form-control mt-2" asp-for="city">
                                            <option disabled selected>Select an option </option>

                                        </select>


                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Profile Text</label>
                                            <input type="text" class="form-control" asp-for="ProfileText">
                                            <span asp-validation-for="ProfileText" class="text-danger"></span>
                                        </div>

                                        <label class="ms-1">Status</label>
                                        <select class="form-control mt-2" asp-for="status">
                                            <option disabled selected>Select an option </option>
                                            <option>Active</option>
                                            <option>In-active</option>
                                        </select>
                                        <span asp-validation-for="status" class="text-danger"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn buttonColor" style="border:2px solid #F88634;color: #F88634;border-radius:20px">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="table mt-4" style="overflow-x:auto;">
            <table class="table border" id="user-table">
                <thead>
                    <tr>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Employee Id</th>
                        <th scope="col">Department</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.EmployeeId</td>
                            <td>@item.Department</td>
                            @if (@item.Status == "Active")
                            {
                                <td class="text-success">@item.Status</td>
                            }
                            else
                            {
                                <td class="text-danger">@item.Status</td>
                            }

                            @*<form>*@
                            <td class="p-0 pt-2 px-1">
                                @if(@item.Status == "Active")
                                {
                                    
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#editUser" class="border-0 bg-transparent" onclick="editDataUser(@item.UserId)">
                                        <i class="bi bi-pencil-square" style="color:#f88634"></i>
                                    </button>
                                    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                            <form id="User">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edit Admin Data </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">FirstName</label>
                                                        <input type="text" class="form-control" id="FName" asp-for="FirstN">
                                                        <span class="text-danger" asp-validation-for="FirstN"></span>

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">LastName</label>
                                                        <input type="text" class="form-control" id="LName" asp-for="LastName">
                                                        <span class="text-danger" asp-validation-for="LastName"></span>

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="UserEmail" asp-for="Email" disabled>
                                                        <span class="text-danger" asp-validation-for="Email"></span>

                                                    </div>
                                                    @*<div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                                                        <input type="password" class="form-control" id="pwdUser" asp-for="Password">
                                                        <span class="text-danger" asp-validation-for="Password"></span>

                                                    </div>*@

                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">EmployeeId</label>
                                                        <input type="number" class="form-control actionEdit" id="EmployeeIdUsers" asp-for="EmployeeId">
                                                        <span class="text-danger" asp-validation-for="EmployeeId"></span>

                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Department</label>
                                                        <input type="text" class="form-control" id="UserDepartments" asp-for="Department">
                                                        <span class="text-danger" asp-validation-for="Department"></span>

                                                    </div>
                                                    @*<div class="mb-3">
                                                        @*<label for="exampleFormControlInput1" class="form-label">City Id</label>
                                                        <input type="number" class="form-control" id="Cityid" asp-for="city">
                                                        <span class="text-danger" asp-validation-for="city"></span>
                                                        <label for="inputState" class="form-label">City</label>
                                                        <select id="Cityid" class="form-select" asp-for="city">
                                                            @{
                                                                var cityId = Model.Users.Where(city => city.UserId == Convert.ToInt32(uid)).Select(city => city.CityId).FirstOrDefault();
                                                                if (cityId == null)
                                                                {
                                                                    <option selected>Select Your city</option>

                                                                }
                                                                else
                                                                {
                                                                    foreach (var city in Model.Cities)
                                                                    {
                                                                        if (city.CityId == cityId)
                                                                        {
                                                                            <option selected>@city.Name</option>

                                                                        }
                                                                    }

                                                                }
                                                            }
                                                        </select>
                                                    </div>*@
                                                
                                                
                                                    @*<div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Country Id</label>
                                                        <input type="number" class="form-control" id="Countryid" asp-for="country">
                                                        <span class="text-danger" asp-validation-for="country"></span>

                                                    </div>*@
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Profile Text</label>
                                                        <input type="text" class="form-control" id="Profiles" asp-for="ProfileText">
                                                        <span class="text-danger" asp-validation-for="ProfileText"></span>

                                                    </div>
                                                    @*<div class="mb-3">
                                                        <label for="exampleFormControlInput1" class="form-label">Status</label>
                                                        <input type="text" class="form-control" id="userstatus" style="color:green">
                                                    </div>*@
                                                    <label class="ms-1">Status</label>
                                                    <select class="form-control mt-2" id="userstatus">
                                                        <option disabled selected>Select an option </option>
                                                        <option>Active</option>
                                                        <option>In-active</option>
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn buttonColor" style="border-radius:50px;color:#f88634;border:2px solid #f88634">Save</button>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <button class="disabled" onclick="editDataUser(@item.UserId)" style="border:none;">
                                        <i class="bi bi-pencil-square" style="color:#f88634"></i>
                                    </button>
                                    
                                }

                                <a class="btn" data-bs-toggle="modal" data-bs-target="#DeleteData" onclick="getId(@item.UserId)"><i class="bi bi-trash3 text-dark"></i></a>
                                @*<a class="btn btn-login buttonColor mt-2" data-bs-toggle="modal" data-bs-target="#DeleteData" style="border:2px solid #F88634;color: #F88634;border-radius:20px">+ Add</a>*@
                                <!-- Button trigger modal -->
                                @*<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModalGoal" style="border-radius: 50px;">
                                    + Add
                                    </button>*@
                                <div class="modal fade" id="DeleteData" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Are you sure to delete this data?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark" style="border-radius:50px" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn buttonColor" style="border:2px solid #F88634;color: #F88634;border-radius:20px" onclick="DeleteData()">Confirm Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @*</form>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


    <script>
        //edit data
        var userid = 0;
        function editDataUser(Id){

        $.ajax({
            url:"/Admin/GetEditData",
            method:"post",
            data: {
                id:Id,
            },
            success : function(result){
                console.log(result.firstName);
                console.log(result.profileText);
                console.log(result);
                userid = result.userId;
                //$('#UserId').val(result.userid)
                $('#FName').val(result.firstName);
                $('#LName').val(result.lastName);
                $('#UserEmail').val(result.email);
                $('#pwdUser').val(result.password);
                $('#avatarUsers').val(result.avatar);
                $('#EmployeeIdUsers').val(result.employeeId);
                $('#UserDepartments').val(result.department);
                $('#Cityid').val(result.cityId);
                $('#Countryid').val(result.countryId);
                $('#Profiles').val(result.profileText);
                $('#userstatus').val(result.status);
            }

        })

    }

     //edit and update for both
     $('#User').on('submit', e => saveChanges());
        function saveChanges(){
            event.preventDefault();
            $("#User").valid();
		    if (!$("#User").valid())
            {

			    return;
		    } 
            else
            {
                $.ajax({
                    url : "/Admin/EditData",
                    method : "POST",
                    data:{
                        id:userid,
                        fname:$('#FName').val(),
                        lname:$('#LName').val(),
                        email:$('#UserEmail').val(),
                        pass:$('#pwdUser').val(),
                        Avatar:$('#avatarUsers').val(),
                        Eid:$('#EmployeeIdUsers').val(),
                        Department:$('#UserDepartments').val(),
                        CityId:$('#Cityid').val(),
                        CountryId:$('#Countryid').val(),
                        Profiletxt:$('#Profiles').val(),
                        Status:$('#userstatus').val(),
                    },
                    success: function(){    
                        location.reload();
                    },
                });
            }
    }

     var uid = 0;
        function getId(userid){
        uid = userid;
        }

    //delete Data
    function DeleteData(){
        $.ajax({
            url:"/Admin/DeleteData",
            method:"post",
            data:{
                id:uid,
                email:"@email",

            },
            success: function(){
                location.reload();
            }
        })

    }

    //city and country
    getCountry();
    $('#City').attr('disabled', true);
    $('#Country').change(function () {
        $('#City').empty();
        $('#City').append('<option>Select City</option>')
        $('#City').attr('disabled', false);
        var countryId = $('#Country	').val();
        $.ajax({
            url: '/User/getCityList',
            data: {
                id: countryId,
            },
            type: "POST",
            success: function (result) {
                $.each(result, function (i, data) {
                    $('#City').append('<option value=' + data.cityId + '>' + data.name + '</option>')
                })

            }
        })
    })

    function getCountry() {
        $.ajax({
            url: '/User/getCountryList',
            type: 'POST',
            success: function (result) {
                $.each(result, function (i, data) {
                    $('#Country').append('<option value=' + data.countryId + '>' + data.name + '</option>');
                })
            },
        })
    }


    //// Get the input field
    //var input = document.getElementById("myInput");

    //// Get the table and rows
    //var table = document.getElementById("user-table");
    //var rows = table.getElementsByTagName("tr");

    //// Add event listener to the input field
    //input.addEventListener("keyup", function() {
    //    var filter = input.value.toLowerCase();
    //    for (var i = 1; i < rows.length; i++) {
    //        var row = rows[i];
    //        var cells = row.getElementsByTagName("td");
    //        var found = false;
    //        for (var j = 0; j < cells.length; j++) {
    //            var cell = cells[j];
    //            if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
    //                found = true;
    //                break;
    //            }
    //        }
    //        if (found) {
    //            row.style.display = "";
    //        } else {
    //            row.style.display = "none";
    //        }
    //    }
    //});

</script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dataTable = $('#user-table').DataTable({
                "pageLength": 4,
            });
            $('#search-bar').keyup(function () {
                dataTable.search(this.value).draw();
            });
        });
    </script>
